
body {

  font-family: sans-serif;

  font-size: 15px;
}

pre code {

  font-family: sans-serif;

}

.container {
  display: flex;

}

#aceeditor {
  background: tomato;
  flex-grow: 1;

}

#transformed {
  // background: red;
  flex-grow: 1;
  padding: 20px;
}

#output {

  background: #f5f2f0;
  flex-grow: 1;
  padding: 20px;
  height: 114vh;
  display: inline-block;
  float: left;
  width:600px;

}

body{
  background:#f5f2f0 !important;
}

#github {
  display: inline-block;
  margin-left: 5px;
}

#github a {
  display: inline-block;
  font-size: 11px;
  color: black;
  text-decoration: underline;
}



#editor{
  display:inline-block;
  float: left;
}


.container {
  height: 100vh;
}
